@import '~vuetify/src/components/VCard/_variables.scss';
@import '~vuetify/src/components/VAlert/variables.scss';
@import '~vuetify/src/styles/styles.sass';

$card-shaped-border-radius: 22px !important;

$alert-border-radius: 8px;
$sheet-border-radius: 6px;

$material-dark: map-merge(
  $material-dark,
  (
    'background': #243340,
    'text': (
      'primary': #afc0d5,
    )
  )
) !important;
